<html>
    <head>
        Login Page!
        <script src="/static/jquery.js"></script>
    </head>

    <body>
        <form method='post' id="login">
        {% csrf_token %}
        <input type="text" id="user">
        <input type="password" id="pwd">
            <button id="b" type='submit' form="login">
                SEND
            </button>
        </form>

    </body>
    <div id="div1">
    </div>
    <script>
            var u = document.getElementById('user');
            var p = document.getElementById('pwd');
    $(document).ready(function() {
        $('#login').submit(function(event) {
        	$.ajax({
                 type:"POST",
                 url:"http://localhost/login/",
                 data: {
                    'user': u.value,
                    'pwd' : p.value,
                    'csrfmiddlewaretoken': '{{ csrf_token}}',                           
                 },
                 success: function(data){
                     $('#div1').html(data) 
                 }
            });
            return false; //<---- move it here
        });
    });
    </script>
</html>
